In [1]:
# Title: Contact models for atomic force microscopy
# Author: J. P. S. Ferreira
# Date: 2023-01-17
# Description: This notebook is a draft for a work on contact models for atomic force microscopy. It is a work in progress.
# Literature: 
# https://www.sciencedirect.com/science/article/pii/S0968432822000245
# https://bmcbioinformatics.biomedcentral.com/articles/10.1186/s12859-019-3010-3
# License: MIT

In [60]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [70]:
def hertz(i, E, nu, r):
    """Hertz model for indentation.
    
    approximation for parabolic indenter.
    Parameters
    ----------
    i : float
        Indentation depth.
    E : float
        Young's modulus.
    nu : float
        Poisson's ratio.
    R : float
        Radius of the indenter.
        
    Returns
    -------
    float
        Contact force.
    """
    a = i/r
    factor = 1 - 0.1 * a - (1/840) * a**2 + (11/15120) * a**3 + (1357/6652800) * a**4
    force = 4/3 * E / (1 - nu**2) * np.sqrt(r)*i**1.5 * factor
    # make nan values zero
    force[np.isnan(force)] = 0
    return force

In [87]:
E = np.random.normal(loc=1.0, scale=0.1, size=1000)
nu = 0.5
r = 1.0
i = np.linspace(-10, 5, 100)
#
df = pd.DataFrame()
df['E'] = E.tolist()
df['ind'] = [i for _ in range(len(df))]
# f = hertz_vec(i, E, nu, r)
#plt.plot(i, f)

In [90]:
df['force']=df.apply(lambda x: hertz(x['ind'], x['E'], nu, r), axis=1)

/var/folders/x7/wn0m19s14b134p11_cy_rn540000gn/T/ipykernel_27983/1411104662.py:23: RuntimeWarning: invalid value encountered in power
  force = 4/3 * E / (1 - nu**2) * np.sqrt(r)*i**1.5 * factor

In [91]:
df

,E,ind,force
0,1.003179,"[-10.0, -9.848484848484848, -9.696969696969697...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,1.085034,"[-10.0, -9.848484848484848, -9.696969696969697...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,1.095834,"[-10.0, -9.848484848484848, -9.696969696969697...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,0.971437,"[-10.0, -9.848484848484848, -9.696969696969697...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,1.000788,"[-10.0, -9.848484848484848, -9.696969696969697...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
...,...,...,...
995,0.922010,"[-10.0, -9.848484848484848, -9.696969696969697...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
996,0.970304,"[-10.0, -9.848484848484848, -9.696969696969697...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
997,0.936058,"[-10.0, -9.848484848484848, -9.696969696969697...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
998,1.006863,"[-10.0, -9.848484848484848, -9.696969696969697...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
999,1.035264,"[-10.0, -9.848484848484848, -9.696969696969697...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."